<div class="content">
    <div class="title">
        <h1>Clientes</h1>
    </div>

    <button class="mat-elevation-z8" mat-raised-button color="primary">Novo Cliente</button>

    <div class="mat-elevation-z8 content-table">

        <table class="table" mat-table [dataSource] = "clientes">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
              </ng-container>
            
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> NOME </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
              </ng-container>
            
              
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> E-MAIL </th>
                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
              </ng-container>
            
              <ng-container matColumnDef="cpf">
                <th mat-header-cell *matHeaderCellDef> CPF </th>
                <td mat-cell *matCellDef="let row"> {{row.cpf}} </td>
              </ng-container>

              <ng-container matColumnDef="renda">
                <th mat-header-cell *matHeaderCellDef> RENDA </th>
                <td mat-cell *matCellDef="let row"> {{row.renda}} </td>
              </ng-container>

              <ng-container matColumnDef="cidade">
                <th mat-header-cell *matHeaderCellDef> CIDADE </th>
                <td mat-cell *matCellDef="let row"> {{ row.endereco.cidade}} </td>
              </ng-container>

              <ng-container matColumnDef="emprestimos">
                <th mat-header-cell *matHeaderCellDef> EMPRESTIMOS </th>
                <td mat-cell *matCellDef="let row"> 
                  <a class="emprestimos" href="#">
                    <i class="material-icons">monetization_on</i>
                  </a>
                </td>
              </ng-container>

              <ng-container matColumnDef="acoes">
                <th class="mat-header" mat-header-cell *matHeaderCellDef> AÇÕES </th>
                <td mat-cell *matCellDef="let row"> 
                  <a class="edit" href="#">
                    <i class="material-icons">edit</i>
                  </a>
                  <a class="delete" href="#">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

    </div>

</div>