<form>
    <h1>EXCLUSÃO CLIENTE</h1>
    <p>
        <mat-form-field class="form" appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput type="text" name="name" placeholder="Nome do cliente" disabled>
            <mat-error>O nome é requerido!</mat-error>
        </mat-form-field>
    
    </p>

        <mat-form-field class="form3" appearance="outline">
            <mat-label>CPF</mat-label>
            <input  matInput type="text" name="cpf" placeholder="CPF sem pontos" disabled>
            <mat-error>O CPF é requerido!</mat-error>
        </mat-form-field>

        <div class="buttons">
            <button class="mat-elevation-z8" mat-raised-button color="warn">DELETAR</button>
            <button class="mat-elevation-z8" mat-stroked-button color="warn">CANCELAR</button>
        </div>
    
    </form>