<form>
    <h1>CADASTRANDO UM NOVO CLIENTE</h1>
    <p>
        <mat-form-field class="form" appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput type="text" name="name" placeholder="Nome do cliente">
        </mat-form-field>
    
    </p>

        <mat-form-field class="form3" appearance="outline">
            <mat-label>CPF</mat-label>
            <input matInput type="text" name="cpf" placeholder="CPF sem pontos">
        </mat-form-field>

        <mat-form-field class="form3" appearance="outline">
            <mat-label>RG</mat-label>
            <input matInput type="text" name="rg" placeholder="Informe o RG">
        </mat-form-field>

        <mat-form-field class="form3" appearance="outline">
            <mat-label>Renda</mat-label>
            <input matInput type="text" name="renda" placeholder="Informe a renda">
        </mat-form-field>
    
    <mat-divider class="divider"></mat-divider>
    <mat-form-field class="form2" appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" name="email" placeholder="E-mail do cliente">
    </mat-form-field>

    <mat-form-field class="form2" appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput type="password" name="senha" placeholder="Senha do cliente">
    </mat-form-field>

    <mat-divider class="divider"></mat-divider>
    <h2>ENDEREÇO DO CLIENTE</h2>
    <P>
        <mat-form-field class="form2" appearance="outline">
            <mat-label>Logradouro</mat-label>
            <input matInput type="text" name="logradouro" placeholder="Logradouro">
        </mat-form-field>

        <mat-form-field class="form2" appearance="outline">
            <mat-label>Complemento</mat-label>
            <input matInput type="text" name="complemento" placeholder="Complemento">
        </mat-form-field>
    </P>

    <p>
        <mat-form-field class="form3" appearance="outline">
            <mat-label>Bairro</mat-label>
            <input matInput type="text" name="bairro" placeholder="Bairro">
        </mat-form-field>
        <mat-form-field class="form3" appearance="outline">
            <mat-label>Numero</mat-label>
            <input matInput type="text" name="numero" placeholder="Número">
        </mat-form-field>
        <mat-form-field class="form3" appearance="outline">
            <mat-label>CEP</mat-label>
            <input matInput type="text" name="cep" placeholder="Cep">
        </mat-form-field>
    </p>

    <mat-form-field class="form2" appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput type="text" name="cidade" placeholder="Cidade">
    </mat-form-field>

    <mat-form-field class="form2" appearance="outline">
        <mat-label>Estado</mat-label>
        <input matInput type="text" name="estado" placeholder="Estado">
    </mat-form-field>

    <div class="buttons">
        <button (click)="create" class="mat-elevation-z8" mat-raised-button color="primary">CRIAR</button>
        <button class="mat-elevation-z8" mat-raised-button color="warm">CANCELAR</button>
    </div>

</form>